# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [139]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
# Imports for further analysis
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ['EIN', 'NAME'])

# Review the DataFrame
# YOUR CODE HERE

applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)
# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
applicant_data_df[categorical_variables]

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS
0,T10,Independent,C1000,ProductDev,Association,0,N
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N
34297,T5,Independent,C3000,ProductDev,Association,0,N
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(data=encoded_data, columns=enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
# YOUR CODE HERE
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0



```
# This is formatted as code
```

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
abc = applicant_data_df.loc[:,['ASK_AMT','STATUS', 'IS_SUCCESSFUL']].copy()

In [12]:
abc

        ASK_AMT  STATUS  IS_SUCCESSFUL
0          5000       1              1
1        108590       1              1
2          5000       1              0
3          6692       1              1
4        142590       1              1
...         ...     ...            ...
34294      5000       1              0
34295      5000       1              0
34296      5000       1              0
34297      5000       1              1
34298  36500179       1              0

[34299 rows x 3 columns]

In [13]:
encoded_df = pd.concat([encoded_df, abc], axis=1)

In [14]:
#add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

# Review the Dataframe
# YOUR CODE HERE
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT,STATUS,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590,1,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692,1,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,36500179,1,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [15]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df.iloc[:,-1].copy()

# Display a sample of y
# YOUR CODE HERE
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [16]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.iloc[:,:-1].copy()
# Review the features DataFrame
# YOUR CODE HERE
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT,STATUS
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,36500179,1

### Step 6: Split the features and target sets into training and testing datasets.

In [17]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [18]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.fit_transform(X_train)
X_test_scaled = X_scaler.fit_transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [19]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [20]:
# Define the number of neurons in the output layer
number_output_neurons = 1
number_output_neurons

1

In [21]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = round((number_input_features+number_output_neurons)/2)
# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [22]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  round((hidden_nodes_layer1+number_output_neurons)/2)
# Review the number hidden nodes in the second layer
hidden_nodes_layer2

30

In [23]:
# Create the Sequential model instance
nn = Sequential()

In [24]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(
    units = hidden_nodes_layer1,
    activation = 'relu',
    input_dim = number_input_features
))

In [25]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units= hidden_nodes_layer2, activation = 'relu'))

In [26]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation ='sigmoid'))

In [27]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 30)                1770

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 8,587
Trainable params: 8,587
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [28]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

In [29]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
nn.fit(X_train,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 62028.6133 - accuracy: 0.4920
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 22843.6934 - accuracy: 0.5121
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 42662.8672 - accuracy: 0.5122
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 14911.3281 - accuracy: 0.5133
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 13563.6611 - accuracy: 0.4887
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 16739.6934 - accuracy: 0.5284
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 12400.6592 - accuracy: 0.5039
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 7118.6504 - accuracy: 0.5478
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 7440.3174 - accuracy: 0.5494
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 2358.3950 - accuracy: 0.5425
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 6293.9253 - accuracy: 0.5201
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 7376.1899 - accuracy: 0.5332
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 4420.5820 - accuracy: 0.5478
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 3609.7344 - accuracy: 0.5200
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 1686.6121 - accuracy: 0.5168
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 3464.5984 - accuracy: 0.5022
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 1980.4465 - accuracy: 0.5200
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 1432.6742 - accuracy: 0.4927
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 381.8914 - accuracy: 0.5302
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6570 - accuracy: 0.5953
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6919 - accuracy: 0.5258
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6932 - accuracy: 0.5385
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5334

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [30]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6914 - accuracy: 0.5296 - 375ms/epoch - 1ms/step
Loss: 0.6914466023445129, Accuracy: 0.5295627117156982

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [31]:
# Set the model's file path
file_path = ("/content/AlphabetSoup.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [32]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [33]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [34]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = round((number_input_features+number_output_neurons_A1)/2)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [35]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = round((hidden_nodes_layer1_A1+number_output_neurons_A1)/2)

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

30

In [36]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = round((hidden_nodes_layer2_A1+number_output_neurons_A1)/2)

# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A1

16

In [37]:
# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer4_A1 = round((hidden_nodes_layer3_A1+number_output_neurons_A1)/2)

# Review the number of hidden nodes in the fourth layer
hidden_nodes_layer4_A1

8

In [38]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [39]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units= hidden_nodes_layer1_A1, activation = 'relu', input_dim = number_input_features))

# Second hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units= hidden_nodes_layer2_A1, activation = 'relu'))

# Third hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units= hidden_nodes_layer3_A1, activation = 'relu'))


# Fourth hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units= hidden_nodes_layer4_A1, activation = 'relu'))

# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units= 1, activation = 'sigmoid'))


# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 30)                1770

 dense_5 (Dense)             (None, 16)                496

 dense_6 (Dense)             (None, 8)                 136

 dense_7 (Dense)             (None, 1)                 9

=================================================================
Total params: 9,197
Trainable params: 9,197
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam', loss = 'binary_crossentropy',metrics='accuracy')

In [41]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 6439.2476 - accuracy: 0.4925
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 2171.0569 - accuracy: 0.5052
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 667.2701 - accuracy: 0.5075
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 1077.4315 - accuracy: 0.5098
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 880.9890 - accuracy: 0.5054
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 200.2817 - accuracy: 0.5024
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 194.4143 - accuracy: 0.4861
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6926 - accuracy: 0.5148
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5334
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5334
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5334

In [42]:
model1_loss, model1_accuracy = nn_A1.evaluate(X_test, y_test)

268/268 [==============================] - 0s 1ms/step - loss: 0.6914 - accuracy: 0.5296

#### Alternative Model 2

In [43]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [44]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [45]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = round((number_input_features+number_output_neurons_A2)/2)+round((number_input_features+number_output_neurons_A2)/4) 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

87

In [46]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = round((hidden_nodes_layer1_A2+number_output_neurons_A1)/2)+round((hidden_nodes_layer1_A2+number_output_neurons_A1)/4) 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

66

In [47]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = round((hidden_nodes_layer2_A2+number_output_neurons_A1)/2)+round((hidden_nodes_layer2_A2+number_output_neurons_A1)/4) 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A2

51

In [48]:
# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer4_A2 = round((hidden_nodes_layer3_A2+number_output_neurons_A1)/2)+round((hidden_nodes_layer3_A2+number_output_neurons_A1)/4) 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer4_A2

39

In [49]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [50]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, activation = 'relu' , input_dim = number_input_features))
# Second hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units = hidden_nodes_layer2_A2, activation = 'relu'))

# Third hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units = hidden_nodes_layer3_A2, activation = 'relu'))

# Fourth hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units = hidden_nodes_layer4_A2, activation = 'relu'))


# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units = number_output_neurons_A2, activation = 'relu'))

# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 87)                10179

 dense_9 (Dense)             (None, 66)                5808

 dense_10 (Dense)            (None, 51)                3417

 dense_11 (Dense)            (None, 39)                2028

 dense_12 (Dense)            (None, 1)                 40

=================================================================
Total params: 21,472
Trainable params: 21,472
Non-trainable params: 0
_________________________________________________________________

In [51]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics ='accuracy')

In [52]:
# Fit the model
# YOUR CODE HERE
nn_A2.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1160 - accuracy: 0.5334

In [53]:
model3_loss, model3_accuracy = nn_A2.evaluate(X_test, y_test)

268/268 [==============================] - 0s 1ms/step - loss: 7.1738 - accuracy: 0.5296

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [54]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 1ms/step - loss: 0.6914 - accuracy: 0.5296
Loss: 0.6914466023445129, Accuracy: 0.5295627117156982

In [55]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test, y_test) 
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 1ms/step - loss: 0.6914 - accuracy: 0.5296
Loss: 0.6914012432098389, Accuracy: 0.5295627117156982

In [56]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 1ms/step - loss: 7.1738 - accuracy: 0.5296
Loss: 7.1738057136535645, Accuracy: 0.5295627117156982

### Step 3: Save each of your alternative models as an HDF5 file.

In [57]:
# Set the file path for the first alternative model
file_path = ("/content/AlphabetSuoup_Alt1.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path)

In [58]:
# Set the file path for the second alternative model
file_path = ("/content/AlphabetSuoup_Alt2.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path)

Analysis
I will go with the original model as alternative1 and alternative2 did not improve the model considerably while taking more comouting power.

#As the Neuron Network Analysis did not realize satisfactory results esp on the Accuracy (~.5), below is an attempt to see if any other alternatives work. the following 3 methods will be used
1. PCA components will be used as an input to the NN model
2. Random Forest will be used to see if it improves the model
3. Logistic Regression will be used

#Step1: PCA Analysis

**Step1: Neural Networks with PCA Analysis**

In [65]:
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT,STATUS
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,36500179,1

In [82]:
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [64]:
#Create PCA Instance
pca=PCA(n_components=2)

In [66]:
##Apply dimensionality reduction
#Reduce from 116 to two features using PCA
loan_pca_data = pca.fit_transform(X)

# Display sample data
loan_pca_data

array([[-2.76419868e+06,  7.68473955e-01],
       [-2.66060868e+06, -4.89093049e-01],
       [-2.76419868e+06,  1.90379059e+00],
       ...,
       [-2.76419868e+06,  1.03618491e+00],
       [-2.76419868e+06,  1.00500151e+00],
       [ 3.37309803e+07, -5.90727924e-01]])

In [119]:
pct_x_train, pct_x_test, pct_y_train, pct_y_test = train_test_split(loan_pca_data, y)

In [97]:
#Initialize the nn model
nn_pca_t = Sequential()

In [98]:
##Build the nn model
#first layer
nn_pca_t.add(Dense(units=3,activation='relu',input_dim=2))
#second layer
nn_pca_t.add(Dense(units=2,activation='relu'))
#output layer
nn_pca_t.add(Dense(units=1,activation='sigmoid'))

In [99]:
nn_pca_t.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_33 (Dense)            (None, 3)                 9

 dense_34 (Dense)            (None, 2)                 8

 dense_35 (Dense)            (None, 1)                 3

=================================================================
Total params: 20
Trainable params: 20
Non-trainable params: 0
_________________________________________________________________

In [100]:
#compile the model
nn_pca_t.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

In [101]:
#fit the model
nn_pca_t.fit(pct_x_train,pct_y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 20321.7676 - accuracy: 0.4877
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6939 - accuracy: 0.4943
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6914 - accuracy: 0.5316
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5316

In [102]:
pca_nn_model_loss, pca_nn_model_accuracy =  nn_pca_t.evaluate(pct_x_test,pct_y_test)

268/268 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5347

**Result** - Performing PCA analysis on the dimensions and performing NN analysis on the principal components did not increase the accuracy score of the model by any meaningful measure. We will be better off sticking to the original model rather than moving to PCA.

**Step2: Logistic Regression**

In [122]:
#2.1 LogistcRegression using PCA
lrmodel = LogisticRegression()
lrmodel.fit(pct_x_train, pct_y_train)

LogisticRegression()

In [126]:
predictions = lrmodel.predict(pct_x_test)

In [128]:
score = lrmodel.score(pct_x_test, pct_y_test)
score

0.532128279883382

In [135]:
#2.2 LogistcRegression using original features
lrmodel1 = LogisticRegression()
lrmodel1.fit(x_train, y_train)

LogisticRegression()

In [136]:
predictions1 = lrmodel1.predict(x_test)

In [137]:
score1 = lrmodel1.score(x_test, y_test)
score

0.532128279883382

The results with Logistic Regression are no better than Neural Netwroks and hence rejecting the same

**Step3: Random Forest**

In [142]:
#3.1 RandomForestClassifirer using PCA
random_clf = RandomForestClassifier()
random_clf.fit(pct_x_train, pct_y_train)

RandomForestClassifier()

In [143]:
prediction_clf = random_clf.predict(pct_x_test)

In [144]:
metrics.accuracy_score(pct_y_test, prediction_clf)

0.7100874635568513

In [145]:
#3.2 RandomForestClassifirer using original features
random_clf = RandomForestClassifier()
random_clf.fit(x_train, y_train)

RandomForestClassifier()

In [146]:
prediction_clf_1 = random_clf.predict(x_test)

In [147]:
metrics.accuracy_score(y_test, prediction_clf_1)

0.7132361516034985

Random forest classifier seems to predict the outcome with an accuracy above 70%
This is better than either the neural networks or logistc regression.

**Conclusion**

As can be seen from the above analysis, random forest classifier predicted the outcome better than neural network or linear regression. 

Also, further improvement of the neural netweon model by addition of additional hidden layers or neurons did not improve the model. This may indicate that we should be collecting more relevant inputs for analysis/decision making. Reducing exisiting input features may not help as primary component analysis did not work either with neural networks.

In conclusion, we can use the original 2 layer neural network model or move toa more efficient ranomn forest classifier.  Alternatively, we can obtain more relevant inputs and retry the neural network model