# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [22]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [23]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (2).csv

In [24]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [25]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [26]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ['EIN', 'NAME'])

# Review the DataFrame
# YOUR CODE HERE

applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [27]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)
# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [28]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [29]:
applicant_data_df[categorical_variables]

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS
0,T10,Independent,C1000,ProductDev,Association,0,N
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N
34297,T5,Independent,C3000,ProductDev,Association,0,N
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N

In [30]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [31]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(data=encoded_data, columns=enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
# YOUR CODE HERE
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0



```
# This is formatted as code
```

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [32]:
abc = applicant_data_df.loc[:,['ASK_AMT','STATUS', 'IS_SUCCESSFUL']].copy()

In [33]:
abc

        ASK_AMT  STATUS  IS_SUCCESSFUL
0          5000       1              1
1        108590       1              1
2          5000       1              0
3          6692       1              1
4        142590       1              1
...         ...     ...            ...
34294      5000       1              0
34295      5000       1              0
34296      5000       1              0
34297      5000       1              1
34298  36500179       1              0

[34299 rows x 3 columns]

In [34]:
encoded_df = pd.concat([encoded_df, abc], axis=1)

In [35]:
#add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

# Review the Dataframe
# YOUR CODE HERE
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT,STATUS,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590,1,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692,1,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,36500179,1,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [40]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df.iloc[:,-1].copy()

# Display a sample of y
# YOUR CODE HERE
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [39]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.iloc[:,:-1].copy()
# Review the features DataFrame
# YOUR CODE HERE
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT,STATUS
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,36500179,1

### Step 6: Split the features and target sets into training and testing datasets.

In [41]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [42]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.fit_transform(X_train)
X_test_scaled = X_scaler.fit_transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [65]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [66]:
# Define the number of neurons in the output layer
number_output_neurons = 1
number_output_neurons

1

In [145]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = round((number_input_features+number_output_neurons)/2)
# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [146]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  round((hidden_nodes_layer1+number_output_neurons)/2)
# Review the number hidden nodes in the second layer
hidden_nodes_layer2

30

In [147]:
# Create the Sequential model instance
nn = Sequential()

In [148]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(
    units = hidden_nodes_layer1,
    activation = 'relu',
    input_dim = number_input_features
))

In [149]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units= hidden_nodes_layer2, activation = 'relu'))

In [150]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation ='sigmoid'))

In [151]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_25 (Dense)            (None, 58)                6786

 dense_26 (Dense)            (None, 30)                1770

 dense_27 (Dense)            (None, 1)                 31

=================================================================
Total params: 8,587
Trainable params: 8,587
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [152]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

In [153]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
nn.fit(X_train,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 81942.9922 - accuracy: 0.5010
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 59631.4570 - accuracy: 0.5055
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 34961.5117 - accuracy: 0.5091
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 25330.4863 - accuracy: 0.5217
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 38503.0273 - accuracy: 0.5126
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 35781.1562 - accuracy: 0.5039
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 20213.2715 - accuracy: 0.5260
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 10334.8828 - accuracy: 0.5015
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 20375.2578 - accuracy: 0.5016
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 17373.0664 - accuracy: 0.5162
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 14274.5137 - accuracy: 0.5215
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 8056.0952 - accuracy: 0.5014
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 3011.7375 - accuracy: 0.4958
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 3088.4863 - accuracy: 0.5007
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 829.7990 - accuracy: 0.5239
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 610.6785 - accuracy: 0.5081
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 349.5372 - accuracy: 0.5273
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6976 - accuracy: 0.5321
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [154]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6912 - accuracy: 0.5332 - 381ms/epoch - 1ms/step
Loss: 0.6912403702735901, Accuracy: 0.5331778526306152

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [78]:
# Set the model's file path
file_path = ("/content/AlphabetSoup.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [79]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [82]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [83]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = round((number_input_features+number_output_neurons_A1)/2)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [84]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = round((hidden_nodes_layer1_A1+number_output_neurons_A1)/2)

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

30

In [85]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = round((hidden_nodes_layer2_A1+number_output_neurons_A1)/2)

# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A1

16

In [86]:
# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer4_A1 = round((hidden_nodes_layer3_A1+number_output_neurons_A1)/2)

# Review the number of hidden nodes in the fourth layer
hidden_nodes_layer4_A1

8

In [88]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [89]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units= hidden_nodes_layer1_A1, activation = 'relu', input_dim = number_input_features))

# Second hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units= hidden_nodes_layer2_A1, activation = 'relu'))

# Third hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units= hidden_nodes_layer3_A1, activation = 'relu'))


# Fourth hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units= hidden_nodes_layer4_A1, activation = 'relu'))

# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units= 1, activation = 'sigmoid'))


# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 58)                6786

 dense_5 (Dense)             (None, 30)                1770

 dense_6 (Dense)             (None, 16)                496

 dense_7 (Dense)             (None, 8)                 136

 dense_8 (Dense)             (None, 1)                 9

=================================================================
Total params: 9,197
Trainable params: 9,197
Non-trainable params: 0
_________________________________________________________________

In [92]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam', loss = 'binary_crossentropy',metrics='accuracy')

In [93]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 13631.5625 - accuracy: 0.4986
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 10575.5508 - accuracy: 0.4928
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 12165.5322 - accuracy: 0.4906
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 3225.6838 - accuracy: 0.4970
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 5344.6265 - accuracy: 0.5135
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 483.1542 - accuracy: 0.5068
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 725.4701 - accuracy: 0.5090
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 2045.1267 - accuracy: 0.4970
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 483.6701 - accuracy: 0.5220
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5321

In [94]:
model1_loss, model1_accuracy = nn_A1.evaluate(X_test, y_test)

268/268 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5332

#### Alternative Model 2

In [97]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [98]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [109]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = round((number_input_features+number_output_neurons_A2)/2)+round((number_input_features+number_output_neurons_A2)/4) 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

87

In [110]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = round((hidden_nodes_layer1_A2+number_output_neurons_A1)/2)+round((hidden_nodes_layer1_A2+number_output_neurons_A1)/4) 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

66

In [113]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = round((hidden_nodes_layer2_A2+number_output_neurons_A1)/2)+round((hidden_nodes_layer2_A2+number_output_neurons_A1)/4) 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A2

51

In [115]:
# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer4_A2 = round((hidden_nodes_layer3_A2+number_output_neurons_A1)/2)+round((hidden_nodes_layer3_A2+number_output_neurons_A1)/4) 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer4_A2

39

In [118]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [119]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, activation = 'relu' , input_dim = number_input_features))
# Second hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units = hidden_nodes_layer2_A2, activation = 'relu'))

# Third hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units = hidden_nodes_layer3_A2, activation = 'relu'))

# Fourth hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units = hidden_nodes_layer4_A2, activation = 'relu'))


# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units = number_output_neurons_A2, activation = 'relu'))

# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 87)                10179

 dense_15 (Dense)            (None, 66)                5808

 dense_16 (Dense)            (None, 51)                3417

 dense_17 (Dense)            (None, 39)                2028

 dense_18 (Dense)            (None, 1)                 40

=================================================================
Total params: 21,472
Trainable params: 21,472
Non-trainable params: 0
_________________________________________________________________

In [120]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics ='accuracy')

In [121]:
# Fit the model
# YOUR CODE HERE
nn_A2.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 7.1343 - accuracy: 0.5321

In [122]:
model3_loss, model3_accuracy = nn_A2.evaluate(X_test, y_test)

268/268 [==============================] - 1s 2ms/step - loss: 7.1187 - accuracy: 0.5332

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [123]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 2ms/step - loss: 0.6909 - accuracy: 0.5332
Loss: 0.6909494996070862, Accuracy: 0.5331778526306152

In [124]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test, y_test) 
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 1ms/step - loss: 0.6912 - accuracy: 0.5332
Loss: 0.6911736130714417, Accuracy: 0.5331778526306152

In [125]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 1ms/step - loss: 7.1187 - accuracy: 0.5332
Loss: 7.11868143081665, Accuracy: 0.5331778526306152

### Step 3: Save each of your alternative models as an HDF5 file.

In [128]:
# Set the file path for the first alternative model
file_path = ("/content/AlphabetSuoup_Alt1.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path)

In [129]:
# Set the file path for the second alternative model
file_path = ("/content/AlphabetSuoup_Alt2.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path)

Analysis
I will go with the original model as alternative1 and alternative2 did not improve the model considerably while taking more comouting power.